mixin navigation(className, items)
    ul(class=className)
        if (items)
            each item, ndx in items
                li(class= className + "__item " + className + "__item--" + ndx)
                    a(class=className + "__link" + item.class + ' ' + ndx  href=item.href)= item.title


mixin socialnavigation(className, items)
    ul(class=className)
        if (items)
            each item, ndx in items
                li(class= className + "__item ")
                    a(href=item.href target="_blank"  class =className + "__item--" + ndx )

mixin skills(className, items)
    ul(class=className)
        if (items)
            each item, ndx in items
                li(class= className + "__item ")
                        svg(class= className + "__item--svg " + className + "__item--"  + ndx)
                            circle(stroke="#ccc" cx="75" cy="75" r="65" stroke-width ="20")
                            circle(stroke="#e8a731" cx="75" cy="75" r="65" stroke-width = "20")
                        div(class= className + "__item--text " + ndx)= item.title


mixin navigatContact(className, items)
    ul(class=className)
        if (items)
            each item, ndx in items
                li(class= className + "__item " + className + "__item--" + ndx)
                    img(class= className + "__svg"  src = item.svg)
                    a(class=className + "__link" href=item.href)= item.title


mixin navigationPush(className, items)
    ul(class=className)
        if (items)
            each item, ndx in items
                li(class= className + "__item " + className + "__item--" + ndx)
                    input(class=className + "__link" + item.class + ' ' + ndx  type=item.type value=item.title )
